{% extends 'game_base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 content">
      <h1 class="section-header">API key for for {{user.email}}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 content">
      <form action="" method="POST">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Update API Key</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
