{% extends 'game_base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 content">
      <h1 class="section-header">Create Challenge</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 content">
       <form action="" method="POST">
        {{ form.non_field_errors }}
        {% csrf_token %}
        <div class="form-group form-row">
          <label for="staticName" class="col-sm-4 col-form-label">Name</label>
          <div class="col-sm-8">
            {{form.name}}
          </div>
        </div>

        <div class="form-group form-row">
          <div class="col-sm-12">
            <a class="btn btn-danger pull-left" href="{% url 'profile' %}">Cancel</a>
            <button type="submit" class="btn btn-primary pull-right">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
